/** @format */

:root {
  // COLOR
  // color transparency
  --nc-c-alpha: 1;

  // color brand
  --nc-c-brand: 75, 196, 248;
  // color succes
  --nc-c-success: 75, 248, 134;
  // color warning
  --nc-c-warning: 248, 200, 75;
  // color danger
  --nc-c-danger: 248, 75, 75;
  // color text
  --nc-c-base: 75, 75, 75;
  // color secondary
  --nc-c-secondary: 173, 173, 173;
  // color default
  --nc-c-default: 255, 255, 255;
}
